.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	/* padding-bottom: 100%; */
	vertical-align: middle;
	overflow: hidden;
}

.font-assistant{
    font-family: 'Assistant', sans-serif;
}

h4 {
  font: 200 15px 'Roboto Mono', sans-serif;
}
h5 {
  font: 700 18px 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.14px;
}
p {
	margin-bottom: 30px;
  font: 18px/1.7 'Assistant', sans-serif;
  letter-spacing: 0.5px;
	color: #2e2e2e !important;
}

#question-title {
	font-weight: 700 !important;
}

.font-roboto{
    font-family: 'Roboto', Sans;
}
.font-calps{
    font-family: 'Calps', Sans;
}
.font-dSans{
    font-family: 'Days Sans', Sans;
}
.font-sgMVB{
    font-family: 'Solano Gothic MVB', Sans;
}

.try{
  position: relative;
  height: 100vh;
  width: auto;
}
.set{
  color: #2e2e2e;
}
.yr{
  max-height:50px ;

}

tspan {
  text-shadow: 0px 3px 4px #000;
}
.pie {
  overflow: hidden;
}
/*
.pie {
    margin: 1em auto;
  border: dashed 1px;
  padding: 0;
  width: 50vh; height: 50vh;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}*/

.svg-label {
  cursor: pointer;
  padding: 15px;
}

.box{
 position: absolute ;
  left: 50%;
  top: 50%;
 cursor: pointer;
 padding: 25px;

}
.line{
 position: absolute ;
  left: 50%;
  top: 50%;
  border: 2px black solid;
  height: 25vh;
}

.slice {

  overflow: hidden;
  position: absolute;
  top: 50%; right: 30%;
  height: 25vh;
}

.slice-contents {
  position: absolute;
  left: -100%;
  width: 100%; height: 100%;
  border-radius: 50%;
  text-align: center;

  background-color: blue;
  transition: background-color .5s;
}
.slice:first-child .slice-contents {
  transform: skewY(40deg)
      rotate(25deg);
}

.bg{
  overflow: hidden;
  position: absolute ;
  left: 50%;
  top: 50%;
  border: 2px black solid;
  border-radius: 20px;
  height: 25vh;
  transform-origin: 0% 100%;
  background-color: white;
}

.bg:first-child {
  transform: rotate(15deg) skewY(-22.5deg);
}

.bg:first-child {
  transform: skewY(40deg)
      rotate(25deg);
}

.answer-container{
  position: relative;
  height: 50vh;
  width: 50vh;
}
.circle{
  transform-origin: center 25vh;

}
.projecttitle {
  background:black;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 55%;
  transform-origin: 0% 100%;
}
.text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(-0deg) rotate(40deg);
  padding-top: 20px;
}
li:first-child {
  transform: rotate(-10deg) skewY(-10deg);
}
li:nth-child(2) {
  transform: rotate(215deg) skewY(20deg);
}
li:nth-child(3) {
  transform: rotate(400deg) skewY(-2deg);
}
li:first-child .text {
  background: green;
}
li:nth-child(2) .text {
  background: tomato;
}
li:nth-child(3) .text {
  background: aqua;
}

.box-2 {
  position: absolute ;
  left: 50%;
  top: 50%;
}

.copyright{
  letter-spacing: 6px;
  bottom: 10px;
  color: grey;
}
.circle-2 {
  transform-origin: center 25vh;
}
/* .one{
  transform: translate(0,-25vh)rotate(45deg)
}
.two{
  transform: rotate(-45deg)
}
.three{
  transform: rotate(180deg)
} */

.upside {
  transform: rotate(120deg)
}
.pointer {
	cursor: pointer;
}
[hidden]{
  display:none !important;
}
